/*Normalize */

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

  /*Variables */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

  $font-primary: 'Roboto', sans-serif; 
  $backgroundColor: #101749;
  $secondcolor : #2a3964;
  $buttoncolor: #3071E7;
  $supportcolor: #a6b2ec;


/*Globals*/

html, body {
    font-family: $font-primary;
    color: white;
    font-size: 62.5%;
    background-color: $backgroundColor;
    margin:0px;  
    min-height: 100vh;
  }
  
  ul{
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }


/*Styles */

/*Styles */
.homepage {
    min-height: 100vh;
    background-color: $backgroundColor;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  } 

  .card {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: 1px white solid;
      border-radius: 25px;
      height: 120px;
      width: 1080px;
      box-shadow: 10px 10px 5px $secondcolor;

      &__title {
          font-size: 5em;
          font-weight: 900;
      }

      &__logo img {
          height: 80px;
      }

      &__balance {
          width: 200px;
          text-align: center;
          font-size: 2.5em;
          font-weight: 400;

          p {
              font-size: 2em;
              margin-top: 5px;
              background-color: white;
              border-radius: 30px;
              color: $buttoncolor;
              font-weight: 800;
          }
      }

      &__options {
        
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        justify-content: space-around;
        
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }

     &__mensajes {
        padding-top: 25px;
       height: 80px;
       width: 600px;
       color:$supportcolor;
       text-align: center;
       display: inline-grid;
       place-content: center;
       font-size: 2.5em;
     } 

     &__invoice {
       display:none;
       flex-direction: row;
       justify-content: center;
       align-content: space-between;

      label {
        font-size: 3.2em;
        margin-left: 25px;
      }

      &__form {
        margin: auto;
      }

      }
  }  


.card__options__buttons {
    margin: 15px 2px 15px 2px;
    width: 200px;
    padding: 4px;
    font-size: 3em;
    background-color: $buttoncolor;
    border: $secondcolor solid 1px;
    border-radius: 25px;
    color: white;
}


.sectionUSDT {
  display: none;
}

.login {

  margin-top: 50px;
  font-size: 2.5em;
  text-align: center;

  p {
    margin: 15px;
    font-size: 1.2em;
  }

  input {
    font-size: 1.2em;
  }

  &__button button {
    margin-top: 20px;
    padding: 10px;
    background-color: $buttoncolor;
    border: $secondcolor;
    font-size: 1em;
    border-radius: 24px;
  }

}


  button:hover {
    border-color: white;
    color: white;
  }

  input {
    font-size: 2.5em;
    height: 30px;
    size: 20;
    text-align: center;
    background-color: white;
    border-radius: 5px;
  }

table {
  margin-top:20px;
  font-size: 1.4em;
  text-align: center;
  border:1px solid rgb(255, 255, 255);
  box-shadow: 10px 10px 5px $secondcolor;
}


tr:nth-child(even){
  background-color: white;
  color:$secondcolor;
}

th{
  padding: 2%;
  font-size: 1.8em;
  font-weight: 800;
  width:150px;
}

td{
  padding: 1%;
  text-align: center;
  font-size: 1.5em;
}

input::placeholder {
  color: $supportcolor;
  font-size: 1em;
  font-style: italic;
}

.toastPopUp {
 font-size: 2.4em!important;
 border-radius: 50px!important;
}


#loginMessage {

    padding: 15px;
    margin: 10px;

}